@charset "utf-8";html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,em,b,i,u,s,dl,dt,dd,ol,ul,li,input,select,option,textarea,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,a{padding:0;margin:0;border:0 none;outline:0 none;-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
html{_background-attachment:fixed;_background-image:url(blank.jpg)}
html,body{overflow-y:auto;overflow-x:hidden}
body,select,textarea,button,input,a{font-family:"Microsoft Yahei",\5FAE\8F6F\96C5\9ED1,Arial,simHei,"宋体",Helvetica;color:#333}
.arial{font-family:"arial"}
article,aside,dialog,figure,footer,header,legend,nav,section,time{display:block}
[flex],[flex]>*,[flex]>[flex]{overflow:hidden;-ms-flex-item-align:center;-ms-grid-row-align:center;-ms-flex-item-align:center;-ms-grid-row-align:center;-webkit-align-self:center;align-self:center}[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex]>*{display:block}[flex]>[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex~="dir:left"]{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}[flex~="dir:right"]{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:end}[flex~="dir:top"]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}[flex~="dir:bottom"]{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-pack:end}[flex~="main:left"]{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}[flex~="main:right"]{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}[flex~="main:justify"]{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}[flex~="main:center"]{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}[flex~="cross:top"]{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;-ms-grid-row-align:flex-start;align-items:flex-start}[flex~="cross:bottom"]{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end}[flex~="cross:center"]{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}[flex~="cross:baseline"]{-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;-ms-grid-row-align:baseline;align-items:baseline}[flex~="cross:stretch"]{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch}[flex~="box:mean"]>*,[flex~="box:first"]>*,[flex~="box:last"]>*,[flex~="box:justify"]>*{width:0;height:auto;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="box:first"]>:first-child,[flex~="box:last"]>:last-child,[flex~="box:justify"]>:first-child,[flex~="box:justify"]>:last-child{width:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex~="dir:top"][flex~="box:mean"]>*,[flex~="dir:top"][flex~="box:first"]>*,[flex~="dir:top"][flex~="box:last"]>*,[flex~="dir:top"][flex~="box:justify"]>*,[flex~="dir:bottom"][flex~="box:mean"]>*,[flex~="dir:bottom"][flex~="box:first"]>*,[flex~="dir:bottom"][flex~="box:last"]>*,[flex~="dir:bottom"][flex~="box:justify"]>*{width:auto;height:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="dir:top"][flex~="box:first"]>:first-child,[flex~="dir:top"][flex~="box:last"]>:last-child,[flex~="dir:top"][flex~="box:justify"]>:first-child,[flex~="dir:top"][flex~="box:justify"]>:last-child,[flex~="dir:bottom"][flex~="box:first"]>:first-child,[flex~="dir:bottom"][flex~="box:last"]>:last-child,[flex~="dir:bottom"][flex~="box:justify"]>:first-child [flex~="dir:bottom"][flex~="box:justify"]>:last-child{height:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="0"]{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="1"],.flex1{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex-box="2"]{-webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;-webkit-flex-shrink:2;-ms-flex-negative:2;flex-shrink:2}[flex-box="3"]{-webkit-box-flex:3;-webkit-flex-grow:3;-ms-flex-positive:3;flex-grow:3;-webkit-flex-shrink:3;-ms-flex-negative:3;flex-shrink:3}[flex-box="4"]{-webkit-box-flex:4;-webkit-flex-grow:4;-ms-flex-positive:4;flex-grow:4;-webkit-flex-shrink:4;-ms-flex-negative:4;flex-shrink:4}[flex-box="5"]{-webkit-box-flex:5;-webkit-flex-grow:5;-ms-flex-positive:5;flex-grow:5;-webkit-flex-shrink:5;-ms-flex-negative:5;flex-shrink:5}[flex-box="6"]{-webkit-box-flex:6;-webkit-flex-grow:6;-ms-flex-positive:6;flex-grow:6;-webkit-flex-shrink:6;-ms-flex-negative:6;flex-shrink:6}[flex-box="7"]{-webkit-box-flex:7;-webkit-flex-grow:7;-ms-flex-positive:7;flex-grow:7;-webkit-flex-shrink:7;-ms-flex-negative:7;flex-shrink:7}[flex-box="8"]{-webkit-box-flex:8;-webkit-flex-grow:8;-ms-flex-positive:8;flex-grow:8;-webkit-flex-shrink:8;-ms-flex-negative:8;flex-shrink:8}[flex-box="9"]{-webkit-box-flex:9;-webkit-flex-grow:9;-ms-flex-positive:9;flex-grow:9;-webkit-flex-shrink:9;-ms-flex-negative:9;flex-shrink:9}[flex-box="10"]{-webkit-box-flex:10;-webkit-flex-grow:10;-ms-flex-positive:10;flex-grow:10;-webkit-flex-shrink:10;-ms-flex-negative:10;flex-shrink:10}
[flex~="as:auto"], [flex~="as:auto"]>*, [flex~="as:auto"]>[flex]{-webkit-align-self:auto;align-self:auto}
.flex1{-webkit-box-flex:1;-webkit-flex:1;flex:1}
.flex0{-webkit-box-flex:0 !important;
    -webkit-flex-grow:0 !important;
    -ms-flex-positive:0 !important;
    flex-grow:0 !important;
    -webkit-flex-shrink:0 !important;
    -ms-flex-negative:0 !important;
    flex-shrink:0 !important}
[flex~=wrap]{-webkit-flex-wrap:wrap;flex-wrap:wrap;overflow:initial}

a{text-decoration:none;outline:0;blr:expression(this.onFocus=this.blur())}
.menu_wrap a{-webkit-transition:transform .3s ease-out;-moz-transition:transform .3s ease-out;-ms-transition:transform .3s ease-out;-o-transition:transform .3s ease-out;transition:transform .3s ease-out}
a:focus{-moz-outline-style:none}
button{border:0}
ul,ol,li{list-style:none;vertical-align:top}
h1,h2,h3,h4,h5,h6,em,b,i,u,address{font-style:normal;font-weight:normal}
img{-ms-interpolation-mode:bicubic;border:0;max-width:100%;max-height:100%}
ul li{vertical-align:top}
input,button:focus,a:focus{outline:0}
textarea{resize:none}
.clearfix{zoom:1}
.clearfix:after{display:block;visibility:hidden;height:0;clear:both;font-size:0;content:"."}
.bgfff{background:#fff}
img{vertical-align:top;-ms-interpolation-mode:bicubic;border:0}
.fl{display:inline;float:left;_zoom:1}
.fr{display:inline;float:right !important}
.tl{text-align:left}
.tc,table{text-align:center}
.tr{text-align:right}
table{border-spacing:0;border-collapse:collapse;empty-cells:show}
.pr{position:relative}
.pa{position:absolute}

.t0{top:0}
.l0{left:0}
.r0{right:0}
.b0{bottom:0}

.ellipsis,.list1_wrap li,.row2_wrap li,.list_wrap li,.trace_wrap h2{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.dn,.hide{display:none}
.cleardis{margin:0 !important}
.clearbor{border:0 !important}
.clearbor-r{border-right:0 !important}
.clearbor-l{border-left:0 !important}
.clearbg{background:none !important}

thead{background: #275094}
th,td{border:1px solid #1c5096}

th{font-size: .15rem;line-height: .28rem;white-space:nowrap}
td{line-height: .24rem}
td,th{padding:.1rem .1rem;word-break:break-all}
body{width:100%;height:100%;cursor:default;background:url(../images/bg.jpg) 50% no-repeat;background-size:cover;color:#fff;font-size:.16rem;visibility: hidden}
.trace_bg{background-image:url(../images/trace_bg.jpg)}
button,a{cursor:pointer}
input::-ms-clear{display:none}
input,button,select,i.not-null,label,span{vertical-align:middle}
input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=number]:focus{border:.01rem solid #bbb !important;-webkit-box-shadow:0 0 .03rem #ccc;box-shadow:0 0 .03rem #ccc}
.clear{clear:both}
.bold{font-weight:700}

html,body,.h100,.l_wrap,.c_wrap,.r_wrap{height:100% !important}
.w100,.box_wrap,table{width:100% !important}
header{width:100%;height:.92rem;background:url('../images/header_bg.jpg') 50% no-repeat;background-size:cover;text-align:center}
header h1{height:.66rem}
header .tit{height:.66rem}
header .tit1{background:url('../images/tit1.png') 50% no-repeat;background-size:auto .33rem}
header .tit2{background:url('../images/tit2.png') 50% no-repeat;background-size:auto .33rem}
header .tit3{background:url('../images/tit3.png') 50% no-repeat;background-size:auto .33rem}
header .tit4{background:url('../images/tit4.png') 50% no-repeat;background-size:auto .33rem}

header .tab_wrap{top:.3rem}
.tab_wrap b{position:absolute;top:0;width:.12rem;height:.40rem}
.tab_wrap a{padding:0 .3rem;height:.4rem;line-height:.4rem;position:relative}
.tab_wrap .l0{background:url('../images/tab_l.png') 50% no-repeat;background-size:.12rem}
.tab_wrap .r0{background:url('../images/tab_r.png') 50% no-repeat;background-size:.12rem}
.tab_wrap a:before{content:'';position:absolute;bottom:0;left:.12rem;right:0;height:.01rem;background:#38a4fc}
.tab_wrap .line_top{left:.07rem;right:.12rem;width:auto;height:.05rem;background:url('../images/tab_top.png') 50% 0 no-repeat;background-size:100% .05rem}

.tab_wrap .active{z-index:999}
.tab_wrap .active .l0{background:url('../images/tab_active_l.png') 50% no-repeat;background-size:.12rem}
.tab_wrap .active .r0{background:url('../images/tab_active_r.png') 50% no-repeat;background-size:.12rem}
.tab_wrap .active .line_top{background-image:url('../images/tab_active_top.png')}
.tab_wrap .active:before{background:#02d495}

.tab_wrap.no_dis a{margin-left:-.12rem}

article{padding:0 .7% 1.4%}

.white,.white a{color:#fff}
.cyan{color:#28cfff}
.blue,.layer_wrap a{color: #37a3fe}

.l_wrap,.c_wrap,.r_wrap{margin:0 .5%}
.r_wrap{}

.bgfff{background:#fff}


.center{position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.center_v{position:relative;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);margin-left:auto;margin-right:auto}

h2.tit{left:50%;top:-.21rem;background:url('../images/tit_c.png') 50% repeat-x;background-size:auto .41rem;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);height:.43rem;line-height:.43rem;padding:0 6%}
.tit b{width:.04rem;height:.43rem}
.tit_l{background:url('../images/tit_l.png') 50% no-repeat;background-size:.04rem}
.tit_r{background:url('../images/tit_r.png') 50% no-repeat;background-size:.04rem}

.box_wrap{position:relative;overflow:visible;margin:1.2% 0;border:.01rem solid #20558b;background:rgba(0,24,106,.5);z-index:9999;min-height:10%}
.box_wrap .row,.box_wrap .col{background:#0089ff}
.box_wrap .row{width:.25rem;height:.03rem}
.box_wrap .col{width:.03rem;height:.25rem}
.c_wrap.w42 .box_wrap .row,.c_wrap.w42 .box_wrap .col,.c_wrap.w48 .box_wrap .row,.c_wrap.w48 .box_wrap .col{background:#3ad6f6;}
.c_wrap.w42 .box_wrap .row,.c_wrap.w48 .box_wrap .row{width:.02rem;height:.1rem}
.c_wrap.w42 .box_wrap .col,.c_wrap.w48 .box_wrap .col{width:.1rem;height:.02rem}

.row2_wrap{padding:0;margin-top:-.5%;margin-bottom:3%}
.row2_wrap li{width:43.4%;display:inline-block;background:#15327d;height:.45rem;line-height:.45rem;margin:2% 1%;font-size:.16rem;padding:0 2%}

.list_wrap li{padding-left:.5rem;position:relative;line-height:.4rem;width:100% !important}
.list_wrap li:not(:last-child){border-bottom:.01rem solid #32519d}
.list_wrap li:before{content:'';position:absolute;width:.12rem;height:.12rem;background:#248dff;border-radius:1rem;top:50%;margin-top:-.06rem;left:.16rem}

.list1_wrap{margin-bottom:4%}
.list1_wrap li{line-height:.46rem;padding:0 6%}
.list1_wrap li:nth-child(2n-1){background:#15327d}

.marquee_top li{line-height:40px}

.trace_wrap .box_wrap{padding:.26rem .26rem 0;margin:0 .1rem;}
.trace_wrap h2{font-size:.24rem;height:.6rem;line-height:.6rem;margin-bottom:.1rem}
.trace_wrap img{width:100%;height:2.96rem}

.menu_wrap{overflow: visible !important}
.menu_wrap a{width:1.53rem;height:1.76rem;background-repeat:no-repeat;background-size:auto 100%;background-position:50%;margin:0 .27rem;max-height:100%}
.menu_wrap a:hover{transform: translateY(-.14rem)}
.menu_wrap .menu1{background-image:url('../images/trace1.png')}
.menu_wrap .menu2{background-image:url('../images/trace2.png')}
.menu_wrap .menu3{background-image:url('../images/trace3.png')}
.menu_wrap .menu4{background-image:url('../images/trace4.png')}
.menu_wrap .menu5{background-image:url('../images/trace5.png')}
.menu_wrap .menu6{background-image:url('../images/trace6.png')}
.menu_wrap .menu7{background-image:url('../images/trace7.png')}
.menu_wrap .menu8{background-image:url('../images/trace8.png')}
.menu_wrap .menu9{background-image:url('../images/trace9.png')}

.num_wrap span{width:1rem;height:1.34rem;line-height:1.34rem;background:url('../images/num_bg.png') 50% no-repeat;background-size:100%;margin:0 .05rem;font-family:digiface;font-size:1.2rem}
.num_wrap b{margin-left:.2rem}

.mt1{margin-top:.1rem}
.mt21{margin-top:.21rem}
.pt32{padding-top:.32rem}
.mb30{margin-bottom:.3rem}
.mlr3{margin-left:3%;margin-right:3%}
.mlr5{margin-left:5%;margin-right:5%}
.ml5{margin-left: 5%}
.mb2{margin-bottom:1.5%}

.h50{height:50% !important}
.h46{height:46% !important}
.h44{height:44% !important}
.h36{height:36% !important}
.h32{height:32%}
.h42{height:42% !important}
.h90{height:90%}

.h134{height:1.34rem !important}

.w32{width:32%}
.w36{width:36%}
.w42{width:42% !important}
.w48{width:48%}
.w90{width:90%}

.l5{left:5%}
.r5{right:5%}

.f0{font-size:0}
.f16,.f16 a{font-size:.16rem}
.layui-layer-dialog .layui-layer-content{font-size:.16rem !important}
.tit,.f18{font-size:.18rem}
.f36{font-size:.36rem}

.blue,.tab_wrap a{color:#37a3fe}
.green,.tab_wrap .active{color:#02d495}

.l_wrap .box_wrap:last-child,.c_wrap .box_wrap:last-child,.r_wrap .box_wrap:last-child{margin-bottom:0}
.video_wrap{height:46%}
.video_wrap li{width:49%}
.video_wrap li:not(:last-child){margin-right:2%}
.video_wrap img{width:100%;height:100%}

.control_wrap li{width:49%;margin:1% 0}
.control_wrap li:nth-child(2n){margin-left:2%}
.control_wrap em{width:.9rem;text-align:right}

.calc{height:calc(100% - .6rem);margin-top:2%}

.scan_wrap{padding-bottom:.7rem}
.scan_wrap h2{margin-bottom:.26rem;margin-left:-.2rem}

.trace_wrap .box_wrap.active{border-color:rgba(20,216,226,.8);box-shadow: 0 0 .5rem rgba(43,182,254,.96) inset;background: rgba(16,88,162,.4)}
.trace_wrap .active .row, .trace_wrap .active .col{background:#3cd3ff}

.layer_wrap{height:100%;overflow-y: auto}

@font-face {
    font-family:'digiface';
    src:url('../fonts/digiface.eot');
    src:url('../fonts/digiface.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digiface.woff2') format('woff2'),
         url('../fonts/digiface.woff') format('woff'),
         url('../fonts/digiface.ttf') format('truetype'),
         url('../fonts/digiface.svg#digiface') format('svg');
    font-weight:normal;
    font-style:normal;

}

/*switch*/
[class|=switch] {
	position:relative;
	display:inline-block;
	width:.66rem;
	height:.36rem;
	border-radius:1rem;
	line-height:.36rem;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
.switch-on {
	border:.01rem solid white;
	box-shadow:white 0 0 0 .16rem inset;
	transition:border .3s, box-shadow 0.2s, background-color .3s;
	background-color:white;
	cursor:pointer;
}
.slider {
	position:absolute;
	display:inline-block;
	width:.36rem;
	height:.36rem;
	background:white;
	box-shadow:0 .01rem .03rem rgba(0, 0, 0, 0.4);
	border-radius:50%;
	left:0;
	top:0;
}
.switch-on .slider {
	left:.3rem;
	transition:background-color .3s, left 0.2s;
}
.switch-off {
	border:.01rem solid #dfdfdf;
	transition:border .3s, box-shadow .3s;
	background-color:rgb(255, 255, 255);
	box-shadow:rgb(223, 223, 223) 0 0 0 0 inset;
	background-color:rgb(255, 255, 255);
	cursor:pointer;
}
.switch-off .slider {
	left:0;
	transition:background-color .3s, left 0.2s;
}
.switch-on.switch-disabled{
	opacity:.5;
	cursor:auto;
}
.switch-off.switch-disabled{
	background-color:#F0F0F0 !important;
	cursor:auto;
}


/*scroll*/
.mCSB_container{width:auto}.mCSB_container.mCS_no_scrollbar{margin-right:0}.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{margin-right:.3rem}.mCustomScrollBox>.mCSB_scrollTools{width:.2rem;height:100%;top:0;right:0}.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:.16rem;right:.08rem;height:auto}.mCSB_scrollTools a+.mCSB_draggerContainer{margin:.2rem 0}.mCSB_scrollTools .mCSB_draggerRail{width:.06rem;height:100%;margin:0 auto;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem}.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:.3rem}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:.04rem;height:100%;margin:0 auto;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem;text-align:center}.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:relative;height:.2rem;overflow:hidden;margin:0 auto;cursor:pointer}.mCSB_scrollTools .mCSB_buttonDown{top:100%;margin-top:-.4rem}.mCSB_horizontal>.mCSB_container{height:auto;margin-right:0;margin-bottom:.3rem;overflow:hidden}.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-bottom:0}.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-right:0;margin-bottom:.3rem}.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{width:100%;height:.16rem;top:auto;right:auto;bottom:0;left:0;overflow:hidden}.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{margin:0 .2rem}.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:.02rem;margin:.07rem 0;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem}.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{width:.3rem;height:100%}.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:.04rem;margin:.06rem auto;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem}.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{display:block;position:relative;width:.2rem;height:100%;overflow:hidden;margin:0 auto;cursor:pointer;float:left}.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{margin-left:-.4rem;float:right}.mCustomScrollBox{-ms-touch-action:none}.mCustomScrollBox{padding-right:.3rem}.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)"}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fff;background:rgba(255,255,255,.75);filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,.85);filter:"alpha(opacity=85)";-ms-filter:"alpha(opacity=85)"}.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,.9);filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{background-image:url(../img/mCSB_buttons.png);background-repeat:no-repeat;opacity:0.4;filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)"}.mCSB_scrollTools .mCSB_buttonUp{background-position:0 0}.mCSB_scrollTools .mCSB_buttonDown{background-position:0 -.2rem}.mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -.4rem}.mCSB_scrollTools .mCSB_buttonRight{background-position:0 -.56rem}.mCSB_scrollTools .mCSB_buttonUp:hover,.mCSB_scrollTools .mCSB_buttonDown:hover,.mCSB_scrollTools .mCSB_buttonLeft:hover,.mCSB_scrollTools .mCSB_buttonRight:hover{opacity:0.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}.mCSB_scrollTools .mCSB_buttonUp:active,.mCSB_scrollTools .mCSB_buttonDown:active,.mCSB_scrollTools .mCSB_buttonLeft:active,.mCSB_scrollTools .mCSB_buttonRight:active{opacity:0.9;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}
.mCSB_horizontal.mCustomScrollBox{padding:0}

.scroll_wrap>.mCustomScrollBox>.mCSB_scrollTools,.layui-layer-content>.mCustomScrollBox>.mCSB_scrollTools{height:94%;top:3%}.scroll_wrap .mCSB_scrollTools .mCSB_dragger,.layui-layer-content .mCSB_scrollTools .mCSB_dragger{height:.3rem !important}.scroll_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.layui-layer-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:.06rem;height:.3rem;-webkit-border-radius:.5rem;-moz-border-radius:.5rem;border-radius:.5rem;background:#178fff}

.scroll_wrap .mCustomScrollBox{width: 100%}
/* .scroll_wrap::-webkit-scrollbar,.layui-layer-content::-webkit-scrollbar,.site_item::-webkit-scrollbar,.layer-right .layer_wrap::-webkit-scrollbar{display:none} */